.gameId {
  height: calc(175 / 16);
  font-family: var(--font-family-default);
  font-size: var(--font-size-xxl);
  text-align: center;
  color: var(--thin-shadow);
}

.playerWrapper {
  position: relative;
  max-width: 1200px;
  margin: calc(45rem / 16) auto 0;
}

.children {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(150rem / 16);
  width: 33%;
  font-family: var(--font-family-default);
  font-size: var(--font-size-lg);
}

.child {
  @extend .children;
  // opacity: 0;
  // Make nth-child into class name that can be saved in array and randomly selected when player is joining
  &:nth-child(1) {
    top: 0;
    left: 0;
  }
  &:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(3) {
    top: 0;
    right: 0;
  }

  &:nth-child(4) {
    top: calc(150rem / 16);
    left: 0;
  }
  &:nth-child(5) {
    top: calc(150rem / 16);
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(6) {
    top: calc(150rem / 16);
    right: 0;
  }
}
