.scale {
  position: relative;
  left: 50%;
  top: 50%;
  height: 1050px;
  width: 1300px;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  will-change: transform;
  transition: all 0.15s ease-in;
}
