---
import Layout from "../../layouts/Layout.astro";
import Host from "../../Games/pinTheMap/host/Index";
import SvgEarth from "../../Games/pinTheMap/generic/SvgEarth";
import "../../Games/pinTheMap/style/default.scss";
---

<Layout title="Welcome to Astro.">
  <main>
    <Host client:load />
  </main>
  <SvgEarth />
</Layout>
