---
import Heading from '../../Games/pinTheMap/generic/Heading';
import Layout from '../../layouts/Layout.astro';
import '../../Games/pinTheMap/style/default.scss';
import Link from '../../Games/pinTheMap/generic/Link';
import SvgEarth from '../../Games/pinTheMap/generic/SvgEarth';
---

<Layout title="Welcome to Astro.">
  <main class="wrapper">
    <Heading text="pin the map" />
    <div class="center button-link">
      <Link href="/pin-the-map/player" text="Join game" />
      <Link href="/pin-the-map/host" text="Host game" />
    </div>
  </main>
  <SvgEarth />
</Layout>
<style lang="scss">
  .center {
    display: flex;
    justify-content: center;
  }

  .button-link {
    @media (max-width: 50rem) {
      flex-direction: column;
    }
      
  }
</style>
