---
import Heading from '../../Games/pinTheMap/generic/Heading';
import Layout from '../../layouts/Layout.astro';
import '../../Games/pinTheMap/style/default.scss';
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="wrapper">
      <Heading client:idle text="Pin The map" />
      <div>
        <div>Random desc</div>
        <a href="/pin-the-map/host"> Host game</a>

        <a href="/pin-the-map/player"> Join game</a>
      </div>
    </div>
  </main>
</Layout>
