---
import Index from "../../Games/pinTheMap/player/Index";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="wrapper">
    <Index client:load />
  </main>
</Layout>
