---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
	*::after,*::before,* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--light-color: #fbf0da;
		--box-shadow: #f78686;
		--thin-shadow: #f45d5d;
		--heading-size: 5rem;		/*  15rem; */
		--spacing-default: 24px;
  	--spacing-half: calc(var(--spacing-default) / 2);
  	--spacing-3-of-4: calc(var(--spacing-default) + var(--spacing-half));
  	--spacing-double: calc(var(--spacing-default) * 2);
  	--spacing-quater: calc(var(--spacing-default) / 4);
		--font-family-default: 'Paytone One', sans-serif;
	}
	main {
		height: 100vh;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
